.header {
  padding: 0;
  width: 100%;
  color: black;
}
.container {
  padding: 0;
  width: 40%;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.logo {
  font-size: 1.5rem;
}
.title {
  font-size: 1rem;
  font-weight: bold;
}
.button button {
  padding: 16px 40px;
  border-radius: 36px;
  border: 2px solid #dbdbdb;

  background-color: white;
  cursor: pointer;
}
